.employees-view {
  font-family: "raleway";
}
.add-user {
    width: 900px;
    @media screen and (min-width: 651px) and (max-width: 1520px) {
      width: 500px;
    }
    @media screen and (min-width: 400px) and (max-width: 650px) {
      width: 400px;
    }
    @media screen and (min-width: 200px) and (max-width: 399px) {
      width: 250px;
    }
  }
  .add-employee-card {
      height: 408px;
  }
