.login-view {
  background: rgb(255, 255, 255);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 20%, rgba(239,239,239,1) 49%, rgba(217,226,238,1) 67%, rgba(189,210,236,1) 91%, rgba(148,187,233,1) 100%);
  .login-card {
    border-radius: 5%;
    @media only screen and (min-width: 480px) {
      width: 450px;
    }
  }
}

.raleway-font {
  font-family: "raleway";
}
